
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primmary-color: #1d9bf0;
  --primmary-font-color: #fff;
  --second-font-color-: #bdbdbd;
  --bg-color: #000000;
}

/* REGISTER COMPONENT */
.section-register, .section-login {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  padding: 30px;
  background: var(--bg-color);
  color: var(--primmary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
}

.section-register h1 {
  font-size: 2.3em;
  width: 70%;
  margin: 0;
}

.section-register h4 {
  font-size: 1.4rem;
  font-weight: 400;
  width: 70%;
}

.section-register form, .section-login form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-register form input, .section-login form input {
  height: 40px;
  width: calc(100% - 20px);
  border-radius: 4px;
  border: 1px solid gray;
  color: var(--primmary-font-color);
  outline: none;
  margin: 10px auto;
  padding: 0 10px;
  background: var(--bg-color);
}

.section-register form button, .section-login form button {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  background: var(--primmary-color);
  margin: 10px auto;
  color: var(--primmary-font-color);
  cursor: pointer;
}

.section-register h5, .section-login h5{
  margin: 10px auto;
}

.section-register h5 a, .section-login h5 a{
  color: var(--primmary-color);
  text-decoration: none;
}

/* LOGIN COMPONENT */
.section-login {
  text-align: center;
}

.section-login h1 {
  font-size: 1.7em;
  width: 100%;
}

/* HEADER */
header {
  width: 100vw;
  height: 50px;
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-feed {
  height: 50px;
  width: calc(100vw - 20px);
  background: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.nav-feed h4 {
  color: var(--primmary-font-color);
  margin-left: 20px;
}

.nav-feed p {
  color: var(--second-font-color-);
  font-size: 0.9em;
}

.user-logo, .profile-nav-logo{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* FEED */
/*section*/ .section-feed {
  min-height: 200vh;
  width: calc(100vw);
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post {
  width: calc(100vw - 20px);
  height: auto;
  max-height: 40vh;
  display: flex;
  background: var(--bg-color);
  margin: 0 auto;
  border-bottom: 1px solid gray;
  padding-top: 10px;
}

.post a img {
  width: 50px;
  height: auto;
}

.post .user-logo-post {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.post-content {
  width: 100%;
}

.post-content .username-post {
  margin-top: 10px;
}

.post-content p {
  color: var(--primmary-font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}

.button-post {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-post li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.button-post li img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  filter: invert(80%) sepia(5%) saturate(13%) hue-rotate(4deg) brightness(95%) contrast(92%);
}

.button-post li span {
  color: var(--second-font-color-);
  font-size: 14px;
  font-weight: 300;
}

.create-post-svg {
  display: inline-block;
  max-height: 24px;
  max-width: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  background: var(--primmary-color);
}

.create-post-svg g{
  filter: invert(99%) sepia(1%) saturate(199%) hue-rotate(233deg) brightness(116%) contrast(100%);
}

.section-createpost {
  font-family: "Roboto", sans-serif;
  height: 35vh;
  width: calc(100vw - 60px);
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  padding: 0 30px;
}

.section-createpost button {
  height: 30px;
  width: 90px;
  background: var(--primmary-color);
  color: var(--primmary-font-color);
  border-radius: 20px;
  border: none;
}

.section-createpost .post-content {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 30px;
}

.post-content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-content textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 75%;
  background: none;
  border: none;
  color: var(--primmary-font-color);
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 1.2em;
}

.post-content textarea::placeholder {
  color: var(--primmary-font-color);
}

.post-content .createpost-button-submit {
  position: absolute;
  top: 30px;
  right: 30px;
}

.profile-nav-logo {
  filter: invert(80%) sepia(5%) saturate(13%) hue-rotate(4deg) brightness(95%) contrast(92%);
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 23px;
}

.profile-data h4, .profile-data p {
  margin: 0;
  width: 100%;
}

.section-info-userprofile {
  width: 100vw;
  height: 60vh;
  background: var(--bg-color);
  color: white;
}

.bg-image-profile {
  width: 100vw;
  height: 20vh;
  object-fit: cover;
}

.main-image-profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 21vh;
  left: 20px;
}

.info-profile {
  height: auto;
  width: calc(100vw - 40px);
  margin: 60px auto 0px auto;
}

.info-profile h4 {
  margin: 0;
}

.info-profile p {
  margin: 0px 0 0 0;
  color: var(--second-font-color-)
}

.info-profile ul {
  width: calc(100vw - 40px);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.info-profile ul li {
  margin-right: 20px;
}



